body {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}


h1 {
    font-size: 50px;
    margin: 0 auto;
    padding: 80px;
}

.user{
   /* font-size: 15px;
    font-weight: lighter;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    margin-bottom: 60px;
   */ 
}